example/ExampleFlow.json
[{"id":"36117e1b.5532f2","type":"tab","label":"WAMP","disabled":false,"info":""},{"id":"b947f710.a08d08","type":"wamp in","z":"36117e1b.5532f2","role":"subscriber","router":"b08601ac.55a8","topic":"app.sub","name":"subscribe topic [app.sub]","x":330,"y":100,"wires":[["18b78415.c0f9bc"]]},{"id":"e5aaf628.72d028","type":"wamp out","z":"36117e1b.5532f2","role":"publisher","router":"b08601ac.55a8","topic":"ims.sub","name":"publish topic [ims.sub]","x":320,"y":180,"wires":[]},{"id":"3479d597.c8f1ca","type":"debug","z":"36117e1b.5532f2","name":"","active":true,"console":"false","complete":"payload","x":630,"y":240,"wires":[]},{"id":"60266090.1a36b","type":"inject","z":"36117e1b.5532f2","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":100,"y":240,"wires":[["e5aaf628.72d028","c1a0f4aa.9cf028","3479d597.c8f1ca"]]},{"id":"c1a0f4aa.9cf028","type":"wamp call","z":"36117e1b.5532f2","router":"b08601ac.55a8","procedure":"ims.proc","name":"call procedure [ims.proc]","x":330,"y":280,"wires":[["3479d597.c8f1ca"]]},{"id":"f2664dff.2735d","type":"wamp in","z":"36117e1b.5532f2","role":"calleeReceiver","router":"b08601ac.55a8","topic":"app.proc","name":"callee procedure receiver [app.proc]","x":339,"y":360,"wires":[["c09e52ba.ff51a","0fc0e1058eacbfe7"]]},{"id":"c0328acd.c376b8","type":"wamp out","z":"36117e1b.5532f2","role":"calleeResponse","router":"b08601ac.55a8","topic":"","name":"callee response","x":800,"y":360,"wires":[]},{"id":"18b78415.c0f9bc","type":"debug","z":"36117e1b.5532f2","name":"","active":true,"console":"false","complete":"false","x":630,"y":100,"wires":[]},{"id":"c09e52ba.ff51a","type":"debug","z":"36117e1b.5532f2","name":"","active":true,"console":"false","complete":"payload","x":617.1666870117188,"y":426,"wires":[]},{"id":"698911012cd49ec2","type":"wamp out","z":"36117e1b.5532f2","role":"publisher","router":"b08601ac.55a8","topic":"ims.sub","topicType":"str","name":"publish topic [ims.sub]","x":440,"y":560,"wires":[]},{"id":"76779b9e46ddcb7b","type":"inject","z":"36117e1b.5532f2","name":"payload as JS object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\t\"bla\": 123,\t\"poi\": $random()\t}","payloadType":"jsonata","x":130,"y":480,"wires":[["698911012cd49ec2"]]},{"id":"853e70d412bd15ee","type":"inject","z":"36117e1b.5532f2","name":"payload as JS array","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"bla\",0.123]","payloadType":"json","x":130,"y":540,"wires":[["698911012cd49ec2"]]},{"id":"4d408dfb35c17ee7","type":"inject","z":"36117e1b.5532f2","name":"payload as string","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"bla\",0.123]","payloadType":"str","x":140,"y":660,"wires":[["698911012cd49ec2"]]},{"id":"0fc0e1058eacbfe7","type":"function","z":"36117e1b.5532f2","name":"app.proc","func":"msg.payload = {\n    ret: msg.payload,\n    bla: 123,\n    qwe: [0,1,2],\n    zxc: \"asdasd\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":360,"wires":[["c0328acd.c376b8"]]},{"id":"41d60015df754190","type":"inject","z":"36117e1b.5532f2","name":"payload as string","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test string","payloadType":"str","x":140,"y":600,"wires":[["698911012cd49ec2"]]},{"id":"b08601ac.55a8","type":"wamp-client","address":"ws://localhost:9995/ims","realm":"com.vtstar.desktop.print.1"}]